In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import env
import wrangle

# Read in df from SQL

In [ ]:
df = wrangle.get_data_from_sql()

# First Look at df

In [ ]:
df.head()

## total_charges is an object... find out why

In [ ]:
df.info()

In [ ]:
df.total_charges.value_counts(dropna=False)

### total_charges has 10 values that are spaces or blanks. Handle missing values.

In [ ]:
df[df.total_charges == ' ']

### It looks like those values are blank bc the tenure is 0. I will change it to 1 since they were probably a customer for about a month.

In [ ]:
df.tenure.value_counts().sort_index()

In [ ]:
# Replace any tenures of 0 with 1

df.tenure.replace(0, 1, inplace=True)

In [ ]:
# Validate my tenure count for value 1

df.tenure.value_counts().sort_index()

In [ ]:
df[df.tenure == 1]

In [ ]:
# Replace the blank total_charges with the monthly_charge for tenure == 1

df.total_charges.replace(' ', df.monthly_charges, inplace=True)

In [ ]:
# Validate my changes

df[df.tenure == 1]

In [ ]:
df.total_charges = df.total_charges.astype(float)

In [ ]:
df.info()

# Create my wrangle_telco() .py file to reflect the prep I want

In [ ]:
def wrangle_telco():
    df = wrangle.get_data_from_sql()
    df.tenure.replace(0, 1, inplace=True)
    df.total_charges.replace(' ', df.monthly_charges, inplace=True)
    df.total_charges = df.total_charges.astype(float)
    return df

In [ ]:
# Test my function IN the notebook

wrangle_telco()

# Test Reading in df Using wrangle_telco() module

In [2]:
df = wrangle.wrangle_telco()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1695 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.1+ KB

In [6]:
df.tenure.value_counts().sort_index()

1      12
2       1
3       3
4       4
5       1
     ...
68     65
69     66
70     88
71    137
72    343
Name: tenure, Length: 72, dtype: int64

In [ ]:
df