In [1]:
import csv
import pandas as pd
import numpy as np

import env
import util
import wrangle_zillow
import split_scale_zillow

### Wrangle Data

In [2]:
df = wrangle_zillow.wrangle_zillow()

df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxamount,taxvaluedollarcnt,propertylandusedesc,fips_number
0,4.0,2.0,1604,6089.82,498347.0,Single Family Residential,6037
1,3.0,3.0,2384,6679.55,549917.0,Single Family Residential,6037
2,3.0,2.0,1574,3876.31,235272.0,Single Family Residential,6037
3,2.0,2.0,1619,4206.15,340000.0,Single Family Residential,6037
4,2.0,3.0,2408,24353.42,2017254.0,Single Family Residential,6037

In [3]:
util.tell_me_about(df)

DataFrame Shape:

(199, 7)

Info about:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 0 to 199
Data columns (total 7 columns):
bedroomcnt                      199 non-null float64
bathroomcnt                     199 non-null float64
calculatedfinishedsquarefeet    199 non-null int64
taxamount                       199 non-null float64
taxvaluedollarcnt               199 non-null float64
propertylandusedesc             199 non-null category
fips_number                     199 non-null int64
dtypes: category(1), float64(4), int64(2)
memory usage: 11.2 KB
None

Describe:

       bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet     taxamount  \
count  199.000000   199.000000                    199.000000    199.000000
mean     3.120603     2.266332                   1856.000000   5838.523015
std      0.977281     1.121157                    993.974915   6356.556291
min      1.000000     1.000000                    684.000000    597.840000
25%      2.000000     2.000000                   1209.000000   2631.550000
50%      3.000000     2.000000                   1615.000000   4173.410000
75%      4.000000     3.000000                   2155.500000   6402.165000
max      7.000000     7.000000                   7818.000000  65142.120000

       taxvaluedollarcnt  fips_number
count       1.990000e+02        199.0
mean        4.693890e+05       6037.0
std         5.162137e+05          0.0
min         3.319600e+04       6037.0
25%         2.110010e+05       6037.0
50%         3.395300e+05       6037.0
75%         5.292045e+05       6037.0
max         5.416482e+06       6037.0

Preview:

   bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  taxamount  \
0         4.0          2.0                          1604    6089.82
1         3.0          3.0                          2384    6679.55
2         3.0          2.0                          1574    3876.31
3         2.0          2.0                          1619    4206.15
4         2.0          3.0                          2408   24353.42

   taxvaluedollarcnt        propertylandusedesc  fips_number
0           498347.0  Single Family Residential         6037
1           549917.0  Single Family Residential         6037
2           235272.0  Single Family Residential         6037
3           340000.0  Single Family Residential         6037
4          2017254.0  Single Family Residential         6037

### Split Data

In [7]:
train, test = split_scale_zillow.split_my_data(df)

(40, 7)